Backend/bin/

Backend/obj/
Backend/obj/Debug/net8.0/Backend.csproj.CoreCompileInputs.cache
Backend/obj/Debug/net8.0/Backend.csproj.AssemblyReference.cache
Backend/obj/Debug/net8.0/Backend.assets.cache
Backend/obj/Debug/net8.0/Backend.AssemblyInfoInputs.cache
Backend/obj/rider.project.model.nuget.info
/Backend/obj
